@import "tailwindcss";
@reference "tailwindcss";

/* Custom component utilities */
@layer components {
  .input {
    @apply w-full p-3 border rounded-lg focus:outline-none 
           focus:ring-2 focus:ring-blue-400;
  }

  .btn-primary {
    @apply w-full bg-blue-600 text-white py-3 rounded-lg hover:bg-blue-700;
  }
}
